<div class="container">
  <form (ngSubmit)="submitForm()" (input)="showSavedMessage = false" #form="ngForm">
    <h2>Add Expense</h2>
    <div class="mb-3">
      <label for="expense.amount" class="form-label">Amount</label>
      <input type="text" class="form-control" name="expense.amount" id="expense.amount" [(ngModel)]="expense.amount" #amount="ngModel" required min="1"
             max="10000">
      <div *ngIf="amount.invalid && (amount.touched || amount.dirty)" class="alert alert-danger mt-2">
        <div *ngIf="amount.errors?.['required']">Amount is required</div>
        <div *ngIf="amount.errors?.['min'] || amount.errors?.['max']">Amount should be in the rage 1 10000</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="expense.description" class="form-label">Description</label>
      <input type="text" class="form-control" name="expense.description" id="expense.description" [(ngModel)]="expense.description" #description="ngModel" required minlength="5" maxlength="50">
      <div *ngIf="description.invalid && (description.touched || description.dirty)" class="alert alert-danger mt-2">
        <div *ngIf="description.errors?.['required']">Description is required</div>
        <div *ngIf="description.errors?.['minlength'] || amount.errors?.['maxlength']">Description length should be between 5 to 50 characters</div>
      </div>
    </div>


    <div class="mb-3">
      <label for="expense.category" class="form-label">category</label>
      <select class="form-control" name="expense.category" id="expense.category" [(ngModel)]="expense.category">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>

    <div class="mb-3">
      <button (submit)="submitForm()" class="btn btn-primary" [disabled]="!form.valid">Add Expense</button>
      <div *ngIf="showSavedMessage" class="alert alert-success mt-2">Expense Saved</div>
    </div>
  </form>
  <hr color="red">
</div>
